name: Build and test

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install requirements
      run: sudo apt install ninja-build libdwarf-dev
    - name: CMake
      run: mkdir build && cd build && cmake -GNinja ..
    - name: Build
      run: cmake --build build
    - name: Test
      run: cd build && ctest --output-on-failure
    - name: run-all-tests
      run: cd tests && ./run-all-tests.sh
